#container.hidden {
    opacity: 0;
}

#help-macros li {
    width: 25%;
}

#editor {
  font-family: 'DejaVu Sans Mono', 'Consolas', monospace;
  position: relative;
  min-height: 560px;
  font-size: 20px;
  resize:vertical;
  line-height: 1.4em;
  margin-bottom: 0;
}

textarea[disabled] {
    background-color: #eee;
}

#editor.full {
	font-size: 32px;
}

#btn-save.disabled {
    color: #666;
    cursor: no-drop;
}

form {
	margin-bottom: 10px;
}

.reveal-modal.tiny {
	width: 40%;
	margin-left: -20%;
}

p.light {
	color: #aaa;
	font-size: 14px;
}

form.modal, form.modal * {
	margin-bottom: 0;
}

footer p {
	font-size: 12px;
	text-align: center;
}

.row {	
	-o-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.row.full {
	max-width: 100%;
}

nav.top-bar {
  margin-bottom: 0;
}